<h1>This is the add Image Component</h1>
<h4>Total Images: {{ imageStats().count }}</h4>
<h4>Total Size: {{ imageStats().size | byteFormat}}</h4>

<div
    (dragover)="false"
    (dragend)="false"
    (drop)="handleDrop($event)"
    style="height: 300px; border: 5px dotted #ccc;">
    <p style="margin: 10px; text-align: center">
    <strong>Drop Your Images Here</strong>
    </p>
</div>

<div class="" *ngFor="let image of images">
    <div class="">
    <a href="#">
        <img class="" [src]="sanitize(image.path)" style="max-width:200px">
    </a>
    </div>
    <div class="">
    <h4 class="">{{image.name}}</h4>
    <p>{{image.size | byteFormat}}</p>
    </div>
</div>