<div>
    <div>
        <div *ngIf="!isImageSelected" class="add-file">
            <input class="add-file-input" type="file" (change)="addFile($event)">
            <p class="add-file-text">Add or Drop Image</p>
        </div>
        <div *ngIf="isImageSelected" class="preview">
            <img class="preview-image" [src]="sanitize(addedImage)" alt="">
        </div>
    </div>
    <div *ngIf="isImageSelected">
        <div class="change-file">
            <input class="change-file-input" type="file" (change)="addFile($event)">
            <p class="change-file-text">add or drop to change image</p>
        </div>
        <div class="image-details">
            <div class="title-div">
                Title:
                <input type="text" class="title" value={{addedImageName}} (input)="addedImageName = $event.target.value"> 
            </div>
            <div class="save-button-div">
                <input type="button" value="SAVE" class="save-button" (click)="saveImage()">
            </div>
        </div>
    </div>
    
</div>

<!--<h4>Total Images: {{ imageStats().count }}</h4>
<h4>Total Size: {{ imageStats().size | byteFormat}}</h4>

<div
    (dragover)="false"
    (dragend)="false"
    (drop)="handleDrop($event)"
    style="height: 300px; border: 5px dotted #ccc;">
    <p style="margin: 10px; text-align: center">
    <strong>Drop Your Images Here</strong>
    </p>
</div>

<div class="" *ngFor="let image of images">
    <div class="">
    <a href="#">
        <img class="" [src]="sanitize(image.path)" style="max-width:200px">
    </a>
    </div>
    <div class="">
    <h4 class="">{{image.name}}</h4>
    <p>{{image.size | byteFormat}}</p>
    </div>
</div>-->

