<div *ngIf="showImagesList" class="list-images">
    <div class="list-header">
        <div class="all-files-details">
            <span class="all-files-details-span">Total files : <b> {{totalFiles}} </b></span>
            <span class="all-files-details-span">Total size: <b> {{totalSize | byteFormat}} </b></span>
        </div>
        <div class="sort-options">
            <div class="sortby-div">
                Sort by:
            </div>
            <div class="sortby-options-div">
                <select (change)="sortList($event.target.value)">
                    <option value="none">None</option>
                    <option value="decreasingDate">Recent dates</option>
                    <option value="increasingDate">Previous dates</option>
                    <option value="increasingFileSize">Increasing File size</option>
                    <option value="decreasingFileSize">Decreasing File size</option>
                </select>
            </div>
        </div>
    </div>
    <div class="list-div">
        <ul class="list">
            <li class="list-items" *ngFor="let file of allFiles">
                <div>
                    <div class="list-name">
                        {{file.name}}
                    </div>
                    <div class="list-image">
                        <img class="list-image-img" [src]="sanitize(file.path)" alt="">
                    </div>
                    <div class="list-date">
                        {{file.ctime}}
                    </div>
                    <div class="list-size">
                        {{file.size | byteFormat}}
                    </div>
                    <div class="list-action">
                        <p><span class="list-edit" (click)="editImage(file)">EDIT</span></p>
                        <p><span class="list-delete" (click)="deleteImage(file)">DELETE</span></p>
                    </div>
                </div>
                <div>
                    <hr>
                </div>
            </li>
        </ul>
    </div>
</div>
<st-edit-image *ngIf="showImageEdit"></st-edit-image>